.issuesContainer  {
    text-align: left;
    /* display: flex; */
     /* padding-bottom: 1em; */
}
.issueMainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.issuesContainer p {
    background: rgb(103, 150, 165);
    color: #fff;
    padding: .3em 2em;
    padding-bottom: 1em;
    letter-spacing: .2em;
    width: 5em;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    margin: 0 auto;
    font-size: 1.2rem;
}
.platfromContainer {
    background:hsl(216, 100%, 22%);
    padding-bottom: 16px;
}
.platfromContainer p {
    width: 100%;
    background:hsl(216, 100%, 22%);
    padding-top: 2em;
    font-size: 1.8rem;
    letter-spacing: .2em;
    text-decoration: underline;
    text-align: center;
    margin-left: -2em;
}
.issuesSubContainer {
    border: none;
    border-radius: 5px;
    width: 25em;
    margin-top: 24px;
    height: auto;
    background: none;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5),0 3px 10px 0 rgba(0,0,0,0.5); */
}
.issuesBox {
    cursor: pointer;
    text-align: center;
}
.issuesBox img {
    width: 100%;
    border-radius: 8px;
    height: 420px;
}
.issuesBox h3 {
    font-size: 1.6rem;
    color: hsl(216, 100%, 22%);
    letter-spacing: 2px;
}
.issueMain {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8),0 3px 10px 0 rgba(0,0,0,0.8);
    margin-top: 0;
    padding: 0 10px;
}
.issueMain span {
    display: block;
    color: #fff;
    font-size: 2em;
    width: 10em;
    font-weight: bold;
}
.issueMain a {
    font-size: 1.6em;

}