.poll-body {
    position: relative;
    border: 1px solid #fff;
    margin: 18px auto;
    margin-left: 12px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 32px 0px;
}
.poll-question {
    text-align: center;
    padding: 18px 0px;
}
.poll-answ {
     text-align: center;
    padding: 24px 0px;
     width: 70%;
    margin: auto;
    background: linear-gradient(navy,#3b5998);
    border-radius: 8px;
}
.poll-answ button {
    font-size: 1.2rem;
    padding: 25px 35px;
    margin: 0px 5px;
    cursor: pointer;
    background: rgb(218, 219, 228);
    color: #1b1b1b;
    border: none;
    border-radius: 6px;
    transition: .3s;
}
.poll-answ button:hover {
    background: #f5f7fc;
}
.poll-res {
    padding: 18px 0px;
    text-align: center;
}
.poll-res p {
    font-size: 1.5rem;
    font-weight: bold;
}
.poll-res span {
    display: block;
    margin: 8px 0;
}