.touch-page {
    display: flex;
    background: repeating-linear-gradient(rgb(206, 19, 19),red,rgb(168, 30, 30));
    padding: 3em 2em;
    color: #fff;
    justify-content: space-evenly;
    font-size: 1.2em;
}
.contact-inpt {
    display: flex;
}
 
.contact-inpt input{
    font-size: 1.3em;
    padding: .5em .8em;
    width: 20vw;
    outline: none;
    border: none;
    margin: 0em .5em;
}
.contact-btn button{
    font-size: 1em;
    padding: .5em 1em;
    background: darkred;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: lightgray;
}